.DS_Store
node_modules
*.log
*.swp
*.map
.idea/
.vscode/
dw.json
Thumbs.db
**/*/cartridge/static/*/css/*
**/*/cartridge/static/*/js/*
cartridges/app_hastens/cartridge/static/default/images/webpack/*
meta/*.zip
*.tern-project
.metadata
jsconfig.json
.settings/
/yarn.lock
/*.zip
*.code-workspace
*.bat
