.has-button-color-editor {
    ul {
        list-style: none;
        padding: 0;
        margin: -4px;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        padding: 4px;
        width: 25%;
        min-width: 60px;
        box-sizing: border-box;
        button {
            background-color: #fff;
            border: 1px solid #dddbda;
            width: 100%;
            display: block;
            margin: 0;
            padding: 2px;
            cursor: pointer;
            &:not([disabled]):hover,
            &.selected {
                border-color: #000;
            }
            .text {
                padding: 7px;
                font-size: 8px;
                text-transform: uppercase;
                display: block;
            }
        }
    }
}
