@import "../../../../shared/styles/utils/utils";

.has-wait-list-confirmation {
    background: #eee;
    text-align: center;
    padding: 55px 15px;
    @include media-breakpoint-up(md) {
        padding: 70px 15px;
    }
    .content-wrapper {
        max-width: 900px;
        margin: 0 auto;
    }
    p {
        white-space: pre-line;
    }
    button {
        margin-top: 40px;
    }
}
