@import "../../../shared/styles/utils/utils";

.has-book-bed-test-form {
    .has-background {
        background-color: #000431;
        .bg {
            background-size: 100% auto !important;
            background-position: top;
            background-repeat: no-repeat;
        }
    }
    .book-bed-test-content {
        position: relative;
        padding: 60px 15px;
        max-width: 990px;
        margin: auto;
        @include media-breakpoint-up(md) {
            padding: 6rem 15px;
        }
    }
    h2 {
        margin-bottom: 16px;
        text-align: center;
    }
    .step-header {
        margin-bottom: 85px;
        text-align: center;
        h3 {
            margin-bottom: 16px;
        }
        h3, p {
            white-space: pre-line;
        }
    }
    .required-text {
        text-align: right;
        margin: 15px 0 5px;
    }
    .consent-text {
        margin-bottom: 15px;
    }
    .newsletter-checkbox label {
        margin-bottom: 0;
    }
    .has-recaptcha-field {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .buttons {
        text-align: center;
        margin-top: 30px;
        padding-bottom: 40px;
        button + button {
            margin-left: 15px;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
        div {
            padding: 10px;
            flex: 1;
        }
        svg {
            color: #5f7090;
            margin-bottom: 0.5rem;
        }
        .info-heading {
            font-weight: 600;
            text-transform: uppercase;
        }
        p {
            line-height: 18px;
            + p {
                margin-bottom: 25px;
            }
        }
    }
}
