@import "../../../../shared/styles/utils/utils";

.has-designer-text-story {
    padding: 30px 15px;
    text-align: center;
    .content-wrapper {
        max-width: 435px;
        margin: 0 auto;
        font-size: 16px;
        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        p {
            margin: 0;
        }

        h2 {
            @include media-breakpoint-only(xs) {
                margin: 0;
            }
        }

        footer {
            background-color: transparent;
            button {
                margin-top: 5px;
            }
        }

        section, footer {
            padding: 0;
            padding-top: 30px;
        }

        section {
            @include media-breakpoint-only(xs) {
                padding-top: 20px;
            }
        }

        .story {
            white-space: pre-line;
            @include media-breakpoint-only(xs) {
                padding-top: 30px;
            }
            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }
        }

        .collection-name {
            @include media-breakpoint-only(xs) {
                font-size: 18px;
            }
        }
    }
}
