@import "../../../../shared/styles/utils/utils";

.has-zoom-cta {
    display: block;
    color: inherit;
    text-decoration: none;
    .spacer {
        padding-bottom: 100%;
        position: relative;
        @include media-breakpoint-up(md) {
            padding-bottom: 71.4285714286%;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 7% 15px 15px;
        .text {
            text-align: center;
            .heading {
                margin: 0 0 10px;
                white-space: pre-line;
            }
        }
    }
}
