@import "../../../../shared/styles/utils/utils";

.has-newsletter-confirmation {
    padding: 30px 15px;
    text-align: center;
    @include media-breakpoint-up(md) {
        text-align: left;
        padding: 40px 15px;
    }
    .content-wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    p {
        white-space: pre-line;
    }
}
