.has-request-catalog {
    .has-request-catalog-form {
        .g-recaptcha {
            margin-top: 22px;
        }
        .content-wrapper {
            max-width: 900px;
            margin: 0 auto;
        }
        .grid-wrapper {
            display: flex;
        }
    }

}
